<h1>Organisations</h1>

<div class="organisations">
  {{#each @model as |organisation|}}
    <div class="organisation">
      <h2>{{organisation.name}}</h2>

      Members:

      <ul class="members">
        {{#each organisation.members as |member|}}
          <li class={{if (eq member.id organisation.createdBy.id) "creator"}}>
            {{member.firstName}} {{member.lastName}}
            {{#if (eq member.id organisation.createdBy.id)}}
              (creator)
            {{/if}}
          </li>
        {{/each}}
      </ul>

      Projects:

      <div class="projects">
        {{#each organisation.projects as |project|}}
          <div class="project">
            <h3>{{project.name}}</h3>

            Project members:

            <ul class="members">
              {{#each project.members as |member|}}
                <li class={{if (eq member.id project.createdBy.id) "creator"}}>
                  {{member.firstName}} {{member.lastName}}
                  {{#if (eq member.id project.createdBy.id)}}
                    (creator)
                  {{/if}}
                </li>
              {{/each}}
            </ul>

            Nodes:

            <NodeActions
              @nodes={{project.nodes}}
              @onSelection={{fn (mut this.selectedNode)}}
              as |actions|>
              <NodeTree
                @nodes={{actions.nodes}}
                @onSelection={{actions.onSelection}}
                @icon="nodes" />
            </NodeActions>
          </div>
        {{/each}}
      </div>
    </div>
  {{/each}}
</div>